header {
  background-color: hsla(221.4,100%,25.9%,0.9);
  text-align: left;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;

  a {
    color: #fff;
    transition: color 0.3s ease;

    &:hover {
      color: darken(#fff, 20%)
    }
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      padding: 0px 10px;
    }
  }
}